.popup__picture-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    max-width: 75vw;
    max-height: 75vh;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media (max-width: 689px) {
    .popup__image-container {
        max-width: 240px;
    }
}