.elements {
    max-width: 880px;
    min-height: 100vh;
}

@media (max-width: 900px) {
    .elements {
        max-width: 690px;
    }
}

@media (max-width: 689px) {
    .elements {
        max-width: 320px;
    }
}