.popup__btn-submit {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    min-width: 358px;
    min-height: 50px;
    background-color: #000;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.popup__btn-submit:hover {
    cursor: pointer;
    opacity: 0.8;
    border-radius: 2px;
}

@media (max-width: 689px) {
    .popup__btn-submit {
        min-width: 238px;
        min-height: 46px;
        margin: 0 auto 30px;
        font-size: 14px;
        line-height: 17px;
    }
}