.element__button-heart {
    margin: 26px 0 auto auto;
    transition: 0.3s;
    min-width: 22px;
    min-height: 19px;
    border: none;
    background-color: #fff;
    background-image: url(../../../images/heart.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.element__button-heart:hover {
    cursor: pointer;
    opacity: 0.5;
    
}

.element__button-heart:active {
    opacity: 1;
    background-image: url(../../../images/heart_active.png);
}
