.popup__btn {
    display: flex;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 21px auto 36px;
    min-width: 358px;
    min-height: 50px;
    background-color: #000;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    border: none;
}

.popup__btn:hover {
    cursor: pointer;
    opacity: 0.8;
    border-radius: 2px;
}

@media (max-width: 689px) {
    .popup__btn {
        min-width: 238px;
        min-height: 46px;
        margin: 0 0 25px 0;
        font-size: 14px;
        line-height: 17px;
    }
}