.profile__info {
    display: grid;
    gap: 0 18px;
    grid-template-columns: minmax(auto, 294px) 1fr;
    grid-template-areas: "title edit"
    "about about";
    color: #fff;
    max-width: 350px;
}



@media (max-width: 689px) {
    .profile__info {
        display: flex;
        color: #fff;
        max-width: 350px;
    }

    .profile__info:nth-child(2) {
        flex-wrap: wrap;
    }
}