.footer {
    display: flex;
    min-width: 880px;
    margin: 60px auto 60px;
}

@media (max-width: 900px) {
    .footer {
        min-width: 581px;
    }
}

@media (max-width: 689px) {
    .footer {
        min-width: 282px;
        margin: 48px auto 36px;
    }
}