.profile__avatar-overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    transition: 0.5s;
    background-image: url(../../../images/pen.png);
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
}

.profile__avatar-overlay:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}
